DATABASE_URL=postgresql://ur:ur@localhost:5432/unserious_research?schema=public

POSTGRES_USER=ur
POSTGRES_PASSWORD=change-me
POSTGRES_DB=unserious_research

ADMIN_ALLOWED_CIDR=10.2.0.0/16

WEBSITE_OWNER=
OWNER_STREET=
OWNER_CITY=
OWNER_COUNTRY=
OWNER_REPRESENTED_BY=
OWNER_MAIL=
